div.tile-row {
    clear: both;
    float: left;
    display: block;
    position: relative;
}

div.hex {
    float: left;
}

div.hex:nth-child(2n) {
    margin-top: -36px;
}

div.hex:nth-child(n+1) {
    margin-left: -18px;
}

.hex:hover {
    stroke: #fff20f;
    stroke-width: 2;

}